<div class="grid" data-path="<%= current_path %>" data-offset="<%= entries.size %>">
  <% entries.each do |entry| %>
    <% if entry.is_dir %>
      <a class="card card--dir" href="/browse/<%= entry.path %>">
        <div class="thumb thumb--dir"></div>
        <span class="name"><%= entry.name %></span>
      </a>
    <% else %>
      <a class="card" href="/view/<%= entry.path %>">
        <img src="" data-src="/thumbnail/<%= entry.path %>" alt="">
        <span class="name"><%= entry.name %></span>
      </a>
    <% end %>
  <% end %>
  <div id="sentinel"></div>
</div>
